body{

    background-color: #6F6E6E !important;
}
.stock-bajo-table{
    background-color: rgba(255, 0, 0, 0.35);
}

.total-venta{
    padding: 10px 0;
    border: 1px solid #dddddd;
    background-color: #f5f5f5;
}
.cant_prod{
    width: 60px;
}
.hiddenRow {
    padding: 0 !important;
}
.tabla_ventas{
    background-color: #A6BEA4 !important;

}
.venta_detalle_table{
    background-color: #E2E8C0 !important;
    margin-bottom: 0px !important;
}
.tipo_pago{
    margin-right: 10px;
}

.input_warning{
    background-color: #FFE5E5;
    border-color: #F00;
}

.oculto{
    display: none;
}